.team-chart-container {
  width: 100%;
  max-width: 470px;
  height: 257px;
  border-radius: 12px;
  padding: 24px 20px 16px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.team-chart-title {
  font-size: 17px;
  font-weight: 600;
  color: #181a20;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.tooltip-icon {
  font-size: 16px;
  color: #181a20;
  cursor: pointer;
}

.chart-wrapper {
  position: relative;
  width: 100%;
  height: 160px;
  border: none;
}

.y-label {
  position: absolute;
  left: 0;
  font-size: 13px;
  color: #181a20;
  font-weight: 400;
  pointer-events: none;
  width: 320px;
  text-align: left;
}
.y-label-1 {
  top: 0px;
  left: 20px;
}
.y-label-2 {
  top: 80px;
  left: 20px;
}

/* Tablet */
@media (max-width: 550px) {
  .team-chart-container {
    max-width: 400px;
    height: auto;
    /* padding: 16px; */
  }

  .chart-wrapper {
    height: 140px;
  }

  .y-label {
    font-size: 12px;
    width: 100%;
  }

  .y-label-1 {
    top: -5px;
  }

  .y-label-2 {
    top: 60px;
  }
}

/* Mobile */
@media (max-width: 490px) {
  .team-chart-container {
    max-width: 315px;
  }

  .chart-wrapper {
    height: 150px;
  }
  .y-label-1 {
    left: 5px;
    top: 5px;
  }
  .y-label-2 {
    left: 5px;
    top: 78px;
  }
}
